[class*="col-"]{
  min-height: 200px;
  background-color: #ffc0cb;
  border: solid 1px #000;
}

.container {
  margin: 20px auto;
}

.nested {
  border: 1px solid white;
  background-color: #f07f80;
}

.padding {
  padding: 0.4%;
}

.row {
  vertical-align: middle;
  line-height: 200px;
  text-align: center;
}
